

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<link rel="preconnect" href="{{asset('assets/https://fonts.gstatic.com')}} ">
	<link rel="shortcut icon" href="{{asset('assets/ img/icons/icon-48x48.png')}}" />

	<link rel="canonical" href="https://demo-basic.adminkit.io/" />

	<title>Complexe scolaire la semeuse</title>

	<link href="{{asset('assets/css/app.css')}} " rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<div class="wrapper">
    {% include "menu/nav_footer/nav.html.twig" %}


    <main class="content">
        
		<div class="container-fluid p-0">

			<h1 class="h3 mb-3"><strong>Détail </strong> de l'élève</h1>
		
			<div class="row">
		
                <table class="table table-hover tpedable-stri" >
                 
                    <tr>
                        <td>Nom:</td>
                        <td>{{ eleve.nom }}</td>
                    </tr>
                    <tr>
                        <td>Prénom:</td>
                        <td>{{ eleve.prenom }}</td>
                    </tr>

                    <tr>
                        <td>Date  de naissance:</td>
                        <td>{{ eleve.datenaissance|date('d/m/Y') }}</td>
                    </tr>

                    <tr>
                        <td>Sexe:</td>
                        <td>{{ eleve.sexe }}</td>
                    </tr>

                    <tr>
                        <td>Parent:</td>
                        <td>{{ eleve.parent.nom }} {{ eleve.parent.prenom }}</td>
                    </tr>


                    <tr>
                        <td>Photo:</td>
                        <td>
                            <img class="picSender" style="cursor: pointer; width:100px" src="{{ asset('assets/Uploaded/' ~ eleve.photo ) }}" data-toggle="modal" data-target="#exampleModalTooltip" data-toggle="tooltip" data-placement="right" title="See the picture" alt="photo Image">
                        </td>
                    </tr>
                    <!-- et ainsi de suite pour les autres champs -->
                </table>

                <button style="padding: 4px 8px; border-radius: 5px; margin-right: 10px; font-size: 16px; margin-bottom: 2%; margin-top: -2%; background-color: #9933cc;">
                    <a href="{{ path('eleve_index') }}" style="text-decoration: none; color: #ffffff;">retour à la liste</a>
                  </button>
		
		  
			</div>
		
		</div>
		
        
    </main>
			{% include "menu/nav_footer/footer.html.twig" %}

		</div>
	</div>

	<script src="{{asset('assets/js/app.js')}} "></script>

</body>

</html>
